<a href="https://colab.research.google.com/github/Denis-pereira/teste/blob/master/extra%C3%A7%C3%A3o_de_tabelas_PDF_para_cria%C3%A7%C3%A3o_de_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Extract Table from PDF using Python (Guide)**


<center><img src="https://pyshark.com/wp-content/uploads/2021/06/Extract-Tables-from-PDF-840x400.png?x56603g" 


https://pyshark.com/extract-table-from-pdf-using-python/

In [ ]:
pip install tabula-py

In [19]:
import tabula

#pdf_path = "https://sedl.org/afterschool/toolkits/science/pdf/ast_sci_data_tables_sample.pdf"

pdf_path ="/content/ast_sci_data_tables_sample.pdf" # aqui usei o meu google drive, mas vc pode colocar qualquer diretorio local

In [20]:
dfs = tabula.read_pdf(pdf_path, pages='2')

In [21]:
print(len(dfs))

2

In [22]:
print(dfs[0])

    Speed (mph)           Driver  ...     Engine      Date
0       407.447  Craig Breedlove  ...     GE J47    8/5/63
1       413.199        Tom Green  ...     WE J46   10/2/64
2       434.220       Art Arfons  ...     GE J79   10/5/64
3       468.719  Craig Breedlove  ...     GE J79  10/13/64
4       526.277  Craig Breedlove  ...     GE J79  10/15/65
5       536.712       Art Arfons  ...     GE J79  10/27/65
6       555.127  Craig Breedlove  ...     GE J79   11/2/65
7       576.553       Art Arfons  ...     GE J79   11/7/65
8       600.601  Craig Breedlove  ...     GE J79  11/15/65
9       622.407    Gary Gabelich  ...     Rocket  10/23/70
10      633.468    Richard Noble  ...  RR RG 146   10/4/83
11      763.035       Andy Green  ...    RR Spey  10/15/97

[12 rows x 5 columns]

In [23]:
dfs[0].to_csv("first_table.csv")

Outro exemplo pegando todas as tabelas da pagina 2 da pagina - https://sedl.org/afterschool/toolkits/science/pdf/ast_sci_data_tables_sample.pdf

In [24]:
for i in range(len(dfs)):
    dfs[i].to_csv(f"table_{i}.csv")

In [25]:
dfs[0] # apenas para visualizar

    Speed (mph)           Driver  ...     Engine      Date
0       407.447  Craig Breedlove  ...     GE J47    8/5/63
1       413.199        Tom Green  ...     WE J46   10/2/64
2       434.220       Art Arfons  ...     GE J79   10/5/64
3       468.719  Craig Breedlove  ...     GE J79  10/13/64
4       526.277  Craig Breedlove  ...     GE J79  10/15/65
5       536.712       Art Arfons  ...     GE J79  10/27/65
6       555.127  Craig Breedlove  ...     GE J79   11/2/65
7       576.553       Art Arfons  ...     GE J79   11/7/65
8       600.601  Craig Breedlove  ...     GE J79  11/15/65
9       622.407    Gary Gabelich  ...     Rocket  10/23/70
10      633.468    Richard Noble  ...  RR RG 146   10/4/83
11      763.035       Andy Green  ...    RR Spey  10/15/97

[12 rows x 5 columns]

In [26]:
dfs[1]

   Time (drops of water)  Distance (cm)
0                      1        10,11,9
1                      2     29, 31, 30
2                      3     59, 58, 61
3                      4   102, 100, 98
4                      5  122, 125, 127